In [1]:
# imports
import requests
import pandas as pd

import os

#### 1. Using the code from the lesson as a guide and the REST API from https://swapi.dev/ as we did in the lesson, create a dataframe named people that has all of the data for people.
#### 2. Do the same thing, but for planets.
#### 3. Extract the data for starships.
#### 4. Save the data in your files to local csv files so that it will be faster to access in the future

In [2]:
url = 'https://swapi.dev/api/'
response = requests.get(url)
response

In [3]:
response.json()

{'people': 'https://swapi.dev/api/people/',
 'planets': 'https://swapi.dev/api/planets/',
 'films': 'https://swapi.dev/api/films/',
 'species': 'https://swapi.dev/api/species/',
 'vehicles': 'https://swapi.dev/api/vehicles/',
 'starships': 'https://swapi.dev/api/starships/'}

In [4]:
url = 'https://swapi.dev/api/people/'
response= requests.get(url)
response

In [5]:
data = response.json()
data

{'count': 82,
 'next': 'https://swapi.dev/api/people/?page=2',
 'previous': None,
 'results': [{'name': 'Luke Skywalker',
   'height': '172',
   'mass': '77',
   'hair_color': 'blond',
   'skin_color': 'fair',
   'eye_color': 'blue',
   'birth_year': '19BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.dev/api/planets/1/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/6/'],
   'species': [],
   'vehicles': ['https://swapi.dev/api/vehicles/14/',
    'https://swapi.dev/api/vehicles/30/'],
   'starships': ['https://swapi.dev/api/starships/12/',
    'https://swapi.dev/api/starships/22/'],
   'created': '2014-12-09T13:50:51.644000Z',
   'edited': '2014-12-20T21:17:56.891000Z',
   'url': 'https://swapi.dev/api/people/1/'},
  {'name': 'C-3PO',
   'height': '167',
   'mass': '75',
   'hair_color': 'n/a',
   'skin_color': 'gold',
   'eye_color': 'yellow',
   'birth_year': '112BBY',
   'gender': 'n/a',
   'homeworld': 'https://swapi.dev/api/planets/1/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/4/',
    'https://swapi.dev/api/films/5/',
    'https://swapi.dev/api/films/6/'],
   'species': ['https://swapi.dev/api/species/2/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:10:51.357000Z',
   'edited': '2014-12-20T21:17:50.309000Z',
   'url': 'https://swapi.dev/api/people/2/'},
  {'name': 'R2-D2',
   'height': '96',
   'mass': '32',
   'hair_color': 'n/a',
   'skin_color': 'white, blue',
   'eye_color': 'red',
   'birth_year': '33BBY',
   'gender': 'n/a',
   'homeworld': 'https://swapi.dev/api/planets/8/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/4/',
    'https://swapi.dev/api/films/5/',
    'https://swapi.dev/api/films/6/'],
   'species': ['https://swapi.dev/api/species/2/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:11:50.376000Z',
   'edited': '2014-12-20T21:17:50.311000Z',
   'url': 'https://swapi.dev/api/people/3/'},
  {'name': 'Darth Vader',
   'height': '202',
   'mass': '136',
   'hair_color': 'none',
   'skin_color': 'white',
   'eye_color': 'yellow',
   'birth_year': '41.9BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.dev/api/planets/1/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/6/'],
   'species': [],
   'vehicles': [],
   'starships': ['https://swapi.dev/api/starships/13/'],
   'created': '2014-12-10T15:18:20.704000Z',
   'edited': '2014-12-20T21:17:50.313000Z',
   'url': 'https://swapi.dev/api/people/4/'},
  {'name': 'Leia Organa',
   'height': '150',
   'mass': '49',
   'hair_color': 'brown',
   'skin_color': 'light',
   'eye_color': 'brown',
   'birth_year': '19BBY',
   'gender': 'female',
   'homeworld': 'https://swapi.dev/api/planets/2/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/6/'],
   'species': [],
   'vehicles': ['https://swapi.dev/api/vehicles/30/'],
   'starships': [],
   'created': '2014-12-10T15:20:09.791000Z',
   'edited': '2014-12-20T21:17:50.315000Z',
   'url': 'https://swapi.dev/api/people/5/'},
  {'name': 'Owen Lars',
   'height': '178',
   'mass': '120',
   'hair_color': 'brown, grey',
   'skin_color': 'light',
   'eye_color': 'blue',
   'birth_year': '52BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.dev/api/planets/1/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/5/',
    'https://swapi.dev/api/films/6/'],
   'species': [],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:52:14.024000Z',
   'edited': '2014-12-20T21:17:50.317000Z',
   'url': 'https://swapi.dev/api/people/6/'},
  {'name': 'Beru Whitesun lars',
   'height': '165',
   'mass': '75',
   'hair_color': 'brown',
   'skin_color': 'light',
   'eye_color': 'blue',
   'birth_year': '47BBY',
   'gender': 'female',
   'homeworld': 'https://swapi.dev/api/planets/1/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/5/',
    'https://swapi.dev/api/films/6/'],
   'species': [],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:53:41.121000Z',
   'edited': '2014-12-20T21:17:50.319000Z',
   'url': 'https://swapi.dev/api/people/7/'},
  {'name': 'R5-D4',
   'height': '97',
   'mass': '32',
   'hair_color': 'n/a',
   'skin_color': 'white, red',
   'eye_color': 'red',
   'birth_year': 'unknown',
   'gender': 'n/a',
   'homeworld': 'https://swapi.dev/api/planets/1/',
   'films': ['https://swapi.dev/api/films/1/'],
   'species': ['https://swapi.dev/api/species/2/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:57:50.959000Z',
   'edited': '2014-12-20T21:17:50.321000Z',
   'url': 'https://swapi.dev/api/people/8/'},
  {'name': 'Biggs Darklighter',
   'height': '183',
   'mass': '84',
   'hair_color': 'black',
   'skin_color': 'light',
   'eye_color': 'brown',
   'birth_year': '24BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.dev/api/planets/1/',
   'films': ['https://swapi.dev/api/films/1/'],
   'species': [],
   'vehicles': [],
   'starships': ['https://swapi.dev/api/starships/12/'],
   'created': '2014-12-10T15:59:50.509000Z',
   'edited': '2014-12-20T21:17:50.323000Z',
   'url': 'https://swapi.dev/api/people/9/'},
  {'name': 'Obi-Wan Kenobi',
   'height': '182',
   'mass': '77',
   'hair_color': 'auburn, white',
   'skin_color': 'fair',
   'eye_color': 'blue-gray',
   'birth_year': '57BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.dev/api/planets/20/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/4/',
    'https://swapi.dev/api/films/5/',
    'https://swapi.dev/api/films/6/'],
   'species': [],
   'vehicles': ['https://swapi.dev/api/vehicles/38/'],
   'starships': ['https://swapi.dev/api/starships/48/',
    'https://swapi.dev/api/starships/59/',
    'https://swapi.dev/api/starships/64/',
    'https://swapi.dev/api/starships/65/',
    'https://swapi.dev/api/starships/74/'],
   'created': '2014-12-10T16:16:29.192000Z',
   'edited': '2014-12-20T21:17:50.325000Z',
   'url': 'https://swapi.dev/api/people/10/'}]}

In [6]:
type(data)

dict

In [7]:
data.keys()

dict_keys(['count', 'next', 'previous', 'results'])

In [8]:
df_1 = pd.DataFrame(data['results'])
df_1.head(3)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],"[https://swapi.dev/api/vehicles/14/, https://s...","[https://swapi.dev/api/starships/12/, https://...",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,https://swapi.dev/api/people/1/
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,https://swapi.dev/api/people/2/
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,https://swapi.dev/api/planets/8/,"[https://swapi.dev/api/films/1/, https://swapi...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,https://swapi.dev/api/people/3/

In [9]:
while data['next'] != None:
    response = requests.get(data['next'])
    data = response.json()
    df_1 = pd.concat([df_1, pd.DataFrame(data['results'])], ignore_index=True)
    
print(df_1.shape)
df_1.head(3)

(82, 16)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],"[https://swapi.dev/api/vehicles/14/, https://s...","[https://swapi.dev/api/starships/12/, https://...",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,https://swapi.dev/api/people/1/
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,https://swapi.dev/api/people/2/
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,https://swapi.dev/api/planets/8/,"[https://swapi.dev/api/films/1/, https://swapi...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,https://swapi.dev/api/people/3/

In [10]:
def acquire_df_from_api(url, name):
    ''' 
    takes a url and string, gets api, writes data to csv file if a local does not exist and return df. 
    if a local file exists, return df.
    '''
    
    # check for csv file in local storage
    if os.path.isfile(f'{name}.csv'):
        # read a dataframe from csv file 
        df = pd.read_csv('people.csv')
    else: 
        # assign url
        url = f'{url}{name}/'
#         print(url)

        # call api
        response = requests.get(url)
#         print(response)

        # assign api data
        data = response.json()
#         print(data.keys())

        # create dataframe
        df = pd.DataFrame(data['results'])
        
        # loop through page to the last page
        while data['next'] != None:
            
            # get api of next page
            response = requests.get(data['next'])
            
            # assign api data
            data = response.json()
            
            # concat new dataframe created next page data to original
            df= pd.concat([df, pd.DataFrame(data['results'])], ignore_index=True)
            
        # write dataframe to csv file for local storage
        df.to_csv(f'{name}.csv', index=False)
  
    # return dataframe
    return df

In [11]:
url = 'https://swapi.dev/api/'
people_df = acquire_df_from_api(url,'people')
print(people_df.shape)
people_df.sample(5)

(82, 16)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
66,Bail Prestor Organa,191,unknown,black,tan,brown,67BBY,male,https://swapi.dev/api/planets/2/,"['https://swapi.dev/api/films/5/', 'https://sw...",['https://swapi.dev/api/species/1/'],[],[],2014-12-20T16:53:08.575000Z,2014-12-20T21:17:50.463000Z,https://swapi.dev/api/people/68/
71,Taun We,213,unknown,none,grey,black,unknown,female,https://swapi.dev/api/planets/10/,['https://swapi.dev/api/films/5/'],['https://swapi.dev/api/species/32/'],[],[],2014-12-20T17:31:21.195000Z,2014-12-20T21:17:50.474000Z,https://swapi.dev/api/people/73/
23,Lando Calrissian,177,79,black,dark,brown,31BBY,male,https://swapi.dev/api/planets/30/,"['https://swapi.dev/api/films/2/', 'https://sw...",[],[],['https://swapi.dev/api/starships/10/'],2014-12-15T12:56:32.683000Z,2014-12-20T21:17:50.357000Z,https://swapi.dev/api/people/25/
44,Ayla Secura,178,55,none,blue,hazel,48BBY,female,https://swapi.dev/api/planets/37/,"['https://swapi.dev/api/films/4/', 'https://sw...",['https://swapi.dev/api/species/15/'],[],[],2014-12-20T09:48:01.172000Z,2014-12-20T21:17:50.409000Z,https://swapi.dev/api/people/46/
5,Owen Lars,178,120,"brown, grey",light,blue,52BBY,male,https://swapi.dev/api/planets/1/,"['https://swapi.dev/api/films/1/', 'https://sw...",[],[],[],2014-12-10T15:52:14.024000Z,2014-12-20T21:17:50.317000Z,https://swapi.dev/api/people/6/

In [12]:
planets_df = acquire_df_from_api(url, 'planets')
print(planets_df.shape)
planets_df.sample(5)

(82, 16)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
64,Dormé,165,unknown,brown,light,brown,unknown,female,https://swapi.dev/api/planets/8/,['https://swapi.dev/api/films/5/'],['https://swapi.dev/api/species/1/'],[],[],2014-12-20T16:49:14.640000Z,2014-12-20T21:17:50.460000Z,https://swapi.dev/api/people/66/
21,IG-88,200,140,none,metal,red,15BBY,none,https://swapi.dev/api/planets/28/,['https://swapi.dev/api/films/2/'],['https://swapi.dev/api/species/2/'],[],[],2014-12-15T12:51:10.076000Z,2014-12-20T21:17:50.351000Z,https://swapi.dev/api/people/23/
32,Finis Valorum,170,unknown,blond,fair,blue,91BBY,male,https://swapi.dev/api/planets/9/,['https://swapi.dev/api/films/4/'],[],[],[],2014-12-19T17:21:45.915000Z,2014-12-20T21:17:50.379000Z,https://swapi.dev/api/people/34/
15,Jabba Desilijic Tiure,175,"1,358",NaN,"green-tan, brown",orange,600BBY,hermaphrodite,https://swapi.dev/api/planets/24/,"['https://swapi.dev/api/films/1/', 'https://sw...",['https://swapi.dev/api/species/5/'],[],[],2014-12-10T17:11:31.638000Z,2014-12-20T21:17:50.338000Z,https://swapi.dev/api/people/16/
29,Nien Nunb,160,68,none,grey,black,unknown,male,https://swapi.dev/api/planets/33/,['https://swapi.dev/api/films/3/'],['https://swapi.dev/api/species/10/'],[],['https://swapi.dev/api/starships/10/'],2014-12-18T11:26:18.541000Z,2014-12-20T21:17:50.371000Z,https://swapi.dev/api/people/31/

In [13]:
starships_df = acquire_df_from_api(url, 'starships')
print(starships_df.shape)
starships_df.sample(5)

(82, 16)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
51,Kit Fisto,196,87,none,green,black,unknown,male,https://swapi.dev/api/planets/44/,"['https://swapi.dev/api/films/4/', 'https://sw...",['https://swapi.dev/api/species/21/'],[],[],2014-12-20T10:18:57.202000Z,2014-12-20T21:17:50.424000Z,https://swapi.dev/api/people/53/
12,Chewbacca,228,112,brown,unknown,blue,200BBY,male,https://swapi.dev/api/planets/14/,"['https://swapi.dev/api/films/1/', 'https://sw...",['https://swapi.dev/api/species/3/'],['https://swapi.dev/api/vehicles/19/'],"['https://swapi.dev/api/starships/10/', 'https...",2014-12-10T16:42:45.066000Z,2014-12-20T21:17:50.332000Z,https://swapi.dev/api/people/13/
45,Ratts Tyerel,79,15,none,"grey, blue",unknown,unknown,male,https://swapi.dev/api/planets/38/,['https://swapi.dev/api/films/4/'],['https://swapi.dev/api/species/16/'],[],[],2014-12-20T09:53:15.086000Z,2014-12-20T21:17:50.410000Z,https://swapi.dev/api/people/47/
1,C-3PO,167,75,NaN,gold,yellow,112BBY,NaN,https://swapi.dev/api/planets/1/,"['https://swapi.dev/api/films/1/', 'https://sw...",['https://swapi.dev/api/species/2/'],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,https://swapi.dev/api/people/2/
22,Bossk,190,113,none,green,red,53BBY,male,https://swapi.dev/api/planets/29/,['https://swapi.dev/api/films/2/'],['https://swapi.dev/api/species/7/'],[],[],2014-12-15T12:53:49.297000Z,2014-12-20T21:17:50.355000Z,https://swapi.dev/api/people/24/

#### 5. Combine the data from your three separate dataframes into one large dataframe

In [14]:
df= pd.concat([people_df, planets_df, starships_df],axis=1)

In [15]:
df.head(3)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,...,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,https://swapi.dev/api/planets/1/,"['https://swapi.dev/api/films/1/', 'https://sw...",...,19BBY,male,https://swapi.dev/api/planets/1/,"['https://swapi.dev/api/films/1/', 'https://sw...",[],"['https://swapi.dev/api/vehicles/14/', 'https:...","['https://swapi.dev/api/starships/12/', 'https...",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,https://swapi.dev/api/people/1/
1,C-3PO,167,75,NaN,gold,yellow,112BBY,NaN,https://swapi.dev/api/planets/1/,"['https://swapi.dev/api/films/1/', 'https://sw...",...,112BBY,NaN,https://swapi.dev/api/planets/1/,"['https://swapi.dev/api/films/1/', 'https://sw...",['https://swapi.dev/api/species/2/'],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,https://swapi.dev/api/people/2/
2,R2-D2,96,32,NaN,"white, blue",red,33BBY,NaN,https://swapi.dev/api/planets/8/,"['https://swapi.dev/api/films/1/', 'https://sw...",...,33BBY,NaN,https://swapi.dev/api/planets/8/,"['https://swapi.dev/api/films/1/', 'https://sw...",['https://swapi.dev/api/species/2/'],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,https://swapi.dev/api/people/3/

In [16]:
df.shape

(82, 48)

#### 5. Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [17]:
url = 'https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv'
df_energy = pd.read_csv(url)
df_energy.head()

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN
3  2006-01-04     1457.217   NaN    NaN         NaN
4  2006-01-05     1477.131   NaN    NaN         NaN

#### 7. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

In [18]:
def acquire_data():
    ''' 
    creates a dataframe from api data, write a csv file if one does not exist. if csv file exists, uses csv file 
    to create a dataframe. 
    combine dataframes and return a combined dataframe
    '''
    
    url = 'https://swapi.dev/api/'
    # get dataframe using a function
    df_1 = acquire_df_from_api(url,'people')
    df_2 = acquire_df_from_api(url,'planets')
    df_3 = acquire_df_from_api(url,'starships')
    
    # concat dataframes
    df= pd.concat([df_1,df_2,df_3],axis=1)
    
    # return a combined dataframe
    return df

In [19]:
df = acquire_data()
df.head(3)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,...,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,https://swapi.dev/api/planets/1/,"['https://swapi.dev/api/films/1/', 'https://sw...",...,19BBY,male,https://swapi.dev/api/planets/1/,"['https://swapi.dev/api/films/1/', 'https://sw...",[],"['https://swapi.dev/api/vehicles/14/', 'https:...","['https://swapi.dev/api/starships/12/', 'https...",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,https://swapi.dev/api/people/1/
1,C-3PO,167,75,NaN,gold,yellow,112BBY,NaN,https://swapi.dev/api/planets/1/,"['https://swapi.dev/api/films/1/', 'https://sw...",...,112BBY,NaN,https://swapi.dev/api/planets/1/,"['https://swapi.dev/api/films/1/', 'https://sw...",['https://swapi.dev/api/species/2/'],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,https://swapi.dev/api/people/2/
2,R2-D2,96,32,NaN,"white, blue",red,33BBY,NaN,https://swapi.dev/api/planets/8/,"['https://swapi.dev/api/films/1/', 'https://sw...",...,33BBY,NaN,https://swapi.dev/api/planets/8/,"['https://swapi.dev/api/films/1/', 'https://sw...",['https://swapi.dev/api/species/2/'],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,https://swapi.dev/api/people/3/

In [20]:
def acquire_energy_csv():
    
    ''' 
    creates a dataframe from a csv file if one exist. if csv file does not exist, create a dataframe reading a csv file 
    from url.
    returns a dataframe
    '''
    
    url = 'https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv'

    if os.path.isfile('opsd_germany_daily.csv'):
        
        # create a dataframe from csv file of local storage
        df = pd.read_csv('opsd_germany_daily.csv')
        
    else: 
        
        # create a dataframe from csv file of url
        df = pd.read_csv(url)
        
        # write csv file on local storage
        df.to_csv('opsd_germany_daily.csv', index=False)
    
    # return a dataframe
    return df

In [21]:
acquire_energy_csv()

            Date  Consumption     Wind   Solar  Wind+Solar
0     2006-01-01   1069.18400      NaN     NaN         NaN
1     2006-01-02   1380.52100      NaN     NaN         NaN
2     2006-01-03   1442.53300      NaN     NaN         NaN
3     2006-01-04   1457.21700      NaN     NaN         NaN
4     2006-01-05   1477.13100      NaN     NaN         NaN
...          ...          ...      ...     ...         ...
4378  2017-12-27   1263.94091  394.507  16.530     411.037
4379  2017-12-28   1299.86398  506.424  14.162     520.586
4380  2017-12-29   1295.08753  584.277  29.854     614.131
4381  2017-12-30   1215.44897  721.247   7.467     728.714
4382  2017-12-31   1107.11488  721.176  19.980     741.156

[4383 rows x 5 columns]